@font-face {
  font-family: 'Lato-Semibold';
  src: url('../fonts/Lato-Semibold.ttf');
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
  font-family: 'Lato-Heavy';
  src: url('../fonts/Lato-Heavy.ttf');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.otf');
}



